<div class="background" (click)="cancel()"></div>
<div class="card">
  <h1 class="openSans700">Welcome to Finland</h1>
  
  <p class="openSans400">
    🎉 This community is open for everyone! Feel free to join the conversations, share your thoughts, and connect with like-minded individuals. Click "Join Now" to become a part of the fun! 🚀
  </p>

  <div class="buttons-container">
    <button class="join" (click)="join()">JOIN</button>
    <button class="cancel" (click)="cancel()">CANCEL</button>
  </div>
</div>