<div class="background" (click)="cancel()"></div>

<div class="card">
  <h1 class="openSans700">Join WildRoots</h1>

  <p class="openSans400">
    🚀 Ready for something special? This community is closed, but you can be a part of it! Click "Request" and our moderators will get back to you soon. 
    <br>
    <br>
    Click "Request" to become a part of the fun! 🌟
  </p>

  <div class="buttons-container">
    <button class="request" (click)="request()">REQUEST</button>
    <button class="cancel" (click)="cancel()">CANCEL</button>
  </div>
</div>