<div class="background" (click)="cancel()"></div>

<div class="card">
  <h1 class="openSans700">Create a Community!</h1>

  <p class="openSans400">
    Starting a new community is <span class="primary">awesome</span>! Before it goes public, our <span class="tertiary">admins</span> or <span class="primary">moderators</span> will review and approve your request. Keep an eye on your notifications - we'll inform you once it has been approved.
      <br>
      <br>
    We appreciate your patience and <span class="tertiary">passion</span> for building a community on Social Vibes
  </p>

  <div class="buttons-container">
    <button class="continue" (click)="continue()">CONTINUE</button>
    <button class="cancel" (click)="cancel()">CANCEL</button>
  </div>
</div>